@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');


body {
  font-family: 'Open Sans';
  font-size: 15px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  height: 40px;
position: absolute;
left:0;
right:0;
top: 0;
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

.acronym {
  font-family: 'Open Sans';
position: relative;
  top: 10px;
  margin: 0 10px;
}

.heart {
  font-family: 'Open Sans';
position: relative;
  top: 10px;
  margin: 0 10px;
}

.top-links {
  display: inline-block;
  float: right;
  margin: 0 0 10px 0;
  position: relative;
  left: 0px;
  bottom: 12px;
}


.top-links li {
  display: inline-block;
  margin: 0 10px;
  font-family: 'Open Sans';
  font-size: 1em;

}

.header {
  background-color: rgb(32, 101, 136);
position: absolute;
height: 100px;
left: 0px;
right: 0px;
top: 40px;
}

.search {
  width: 100%;
}

.searchTerm {
  float: left;
  width: 120%;
  border: 1px solid grey;
  padding: 5px;
  height: 40px;
  border-radius: 0px;
  outline: none;
  color: rgb(31, 82, 111);
  background: rgb(31, 82, 111);
}

.searchTerm:focus{
  color: white;
  font-size: 18px;
  font-family: "Open Sans";
}

.searchButton {
  position: absolute;
  right: -139px;
  width: 50px;
  height: 52px;
  border: 1px solid grey;
  background: rgb(31, 82, 111);
  text-align: center;
  color: white;
  border-radius: 1px;
  font-size: 28px;
}

.wrap{
  width: 50%;
  position: absolute;
  top: 45px;
  left: 40%;
  transform: translate(-50%, -50%);
}

.logo-image {
  width: 130px;
  height:50%;
  position: relative;
  padding: 20px;
}

.logo2-image {
width: 40px;
height: 40px;
position: relative;
top: 10px;
}

.signup-box {
  position: absolute;
  left: 1060px;
  top: 10px;
  display: inline-block;
  text-decoration: none;
  color: white;

}

.signup-box a {
  text-decoration: none;
  color: white;
}


.homepage {
  background-image: url(file:///Users/tess/Downloads/lab-html-module-exercise-master/starter-code/images/city-scape.svg);
  position:absolute;
  height: 330px;
  left: 0px;
  right: 0px;
  top: 120px;

}

.homepage-text {
  color: white;
  position: absolute;
  top:20px;
  left: 200px;
  right: 600px;
}

.button1 {
    background-color: rgb(240, 146, 51);
    border-radius: 36px;
    border: 0;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button1 a {
  text-decoration: none;
  color: white;
}

.section1 {
background-color: rgb(39, 53, 71);
position: absolute;
height: 400px;
left: 0px;
right: 0px;
top: 450px;
}


.img-section1 {
  width:400px;
  height:300px;
  position: absolute;
  left:200px;
}

.section1-text {
  position: absolute;
  right: 180px;
  top: 30px;
  display: inline-block;
  color:white;
}

.section1 h2 {

  width: 400px;
  margin: 0;
}


.section1-text ul {

}

.button2 {
  background-color: rgb(203, 56, 55);
  border-radius: 36px;
  border: 0;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}



.button2 a {
  text-decoration: none;
  color: white;
}

.section2 {
  position: absolute;
  background-image: url(file:///Users/tess/Downloads/lab-html-module-exercise-master/starter-code/images/forklift.svg);
  background-size: cover;
  height: 350px;
  left: 0px;
  right: 0px;
  top: 750px;
}

.section2-text {
  position: absolute;
width: 300px;
margin: 80px 150px;
  color:white;
}

.button3 {
  background-color: rgb(49, 68, 88);
  border-radius: 50px;
  border: 0;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button3 a {
  text-decoration: none;
  color: white;
}

.section3 {
  position: absolute;
  height: 350px;
  left: 0px;
  right: 0px;
  top: 1100px;
}

.subsection3 {
margin:0 auto;
position:absolute;
left: 200px;
top: 20px;
text-align: center;
}



.icon1{
    float: left;
    width: 20%;
    padding: 30px;
    margin-left: 80px;
    margin-top: 110px;
    height: 300px;
  text-align: center;
}

.icon1 a {
  text-decoration: none;
  color: rgb(208, 74, 73);
}

.section3 p {
  color: rgb(135, 145, 156);
}

.section3 h2 {
  color:rgb(83, 88, 98);
}

h3 {
  font-size: 20px;
  color: rgb(83, 88, 98);
}

.icon2{
  float: left;
  display: inline-block;
  width: 20%;
  padding: 30px;
  margin-left: 80px;
  margin-top: 110px;
  height: 300px;
  text-align: center;
}
.icon3{
  float: left;
  display: inline-block;
  width: 20%;
  padding: 30px;
  margin-left: 80px;
  margin-top: 110px;
  height: 300px;
  text-align: center;
}
.section3 h2 {
  width: 100%;
}
